<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/dragAndDrop.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="icon" href="/img/umk.ico">

    <!-- 웹 참조-->
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e8a335040d.js" crossorigin="anonymous"></script>

    <!-- 웹 폰트 참조-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">


    <title>UMK</title>
</head>
<body>
<div class="bg_wrapper">
    <!-- 메인 -->
    <header class="main_bg">
        <!-- 엄크 로고 -->
        <div class="umk_logo"></div>
        <!-- 소개 문구 -->
        <div class="bg_text_btn">
            <div class="bg_small_text fadein_text">
                수다방 학생 관리표
            </div>
            <div class="bg_big_text fadein_text">
                내 아들을 부탁해
            </div>
            <div class="bg_btn">
                <button class="bg_btn_style" onclick="location.href='/excel'">엑셀파일 올리기</button>
            </div>
        </div>
    </header>
</div>
</body>
</html>