{{>layouts/header}}


<div class="bg-dark text-white p-5">
    <h1 style="text-align: center">UMK</h1>
</div>
<div id="fileUpload" class="dragAndDropDiv">파일을 드래그 앤 드랍 하세요</div>
<input type="file" name="fileUpload" id="fileUpload" style="display:none;" multiple/>
<div id="nextButton">

</div>

{{>layouts/footer}}