{{>layouts/header}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>엑셀 업로드 성공</title>
</head>
<script type="text/javascript">
    $(document).ready(function (){
       $('#moveToWeekTable').on('click',function (){
           var month = $('#month').val();
           var week = $('#week').val();
          location.href = '/main/weekTable?month='+month+'&week='+week;
       });
    });
</script>
<body>
<h1>엑셀 업로드 성공</h1>
<div id="month week select">
    <select id="month">
        <option value="1">1월</option>
        <option value="2">2월</option>
        <option value="3">3월</option>
        <option value="4">4월</option>
        <option value="5">5월</option>
        <option value="6">6월</option>
        <option value="7">7월</option>
        <option value="8">8월</option>
        <option value="9">9월</option>
        <option value="10">10월</option>
        <option value="11">11월</option>
        <option value="12">12월</option>
    </select>

    <select id="week">
        <option value="1">1주차</option>
        <option value="2">2주차</option>
        <option value="3">3주차</option>
        <option value="4">4주차</option>
        <option value="5">5주차</option>
    </select>

    <button type="button" id="moveToWeekTable">주간 관리표 출력하기</button>
</div>
</body>
</html>
{{>layouts/footer}}