<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<table align="center" width="1800" height="50">
    <!-- 제목 -->
    <tr bgcolor="white" align="center">
        <p>
        <td><{{studentName}} 학생 {{month}}월 {{week}}주차 주간 관리표></td>
        </p>
    </tr>
</table>
<table border="1" frame="void" bordercolor="white" width="1800" height="400" align="center">
    {{#info}}
    <!-- 첫 번째 행 (출석) -->
    <tr align="center">
        <td rowspan="3"
            bgcolor="#FFFFCC">출석
        </td>
        <td bgcolor="#FFFFCC">날짜</td>
        <td bgcolor="#FFFFCC">출석시간</td>

        <td rowspan="3" bgcolor="#e2e2e2"># 출석시간 10분 전에..</td>

    </tr>

    <tr align="center">
        <td bgcolor="#e2e2e2">{{date}}</td>
        <td bgcolor="#e2e2e2">{{attendance}}</td>
    </tr>
    {{/info}}
</table>

<!-- 두 번째 행(진도) -->
<table border="1" frame="void" bordercolor="white" width="1800" height="400" align="center">
    <tr align="center">
        <td rowspan="11" bgcolor="#CCE5FF">진도</td>
        <td bgcolor="#CCE5FF">날짜</td>
        <td bgcolor="#CCE5FF">교재</td>
        <td bgcolor="#CCE5FF">내용</td>

        <td rowspan="11" bgcolor="#FFFFCC">과제</td>
        <td bgcolor="#FFFFCC">날짜</td>
        <td bgcolor="#FFFFCC">과제</td>
    </tr>

</table>


<!-- 세 번째 행(수업 집중도) -->
<table border="1" frame="void" bordercolor="white" width="1800" height="400" align="center">
    <tr align="center">
        <td rowspan="4" bgcolor="#ffdab9">수업<br>집중도</td>
        <td bgcolor="#ffdab9">날짜</td>
        <td bgcolor="#ffdab9">날짜</td>
        <td rowspan="4" bgcolor="#e2e2e2"># 수업집중도..</td>
    </tr>
    <tr align="center">
        <td rowspan="3" bgcolor="#e2e2e2">5</td>
        <td rowspan="3" bgcolor="#e2e2e2">-</td>
    </tr>
</table>

<!-- 네 번째 행(과제 수행도) -->
<table border="1" frame="void" bordercolor="white" width="1800" height="400" align="center">
    <tr align="center">
        <td rowspan="4" bgcolor="#ffdab9">수업<br>집중도</td>
        <td bgcolor="#ffdab9">날짜</td>
        <td bgcolor="#ffdab9">날짜</td>
        <td rowspan="4" bgcolor="#e2e2e2"># 과제 수행도..</td>
    </tr>
    <tr align="center">
        <td rowspan="3" bgcolor="#e2e2e2">5</td>
        <td rowspan="3" bgcolor="#e2e2e2">-</td>
    </tr>
</table>

<!-- 다섯 번째 행(플래너 수행도) -->
<table border="1" frame="void" bordercolor="white" width="1800" height="400" align="center">
    <tr align="center">
        <td rowspan="4" bgcolor="#ffdab9">수업<br>집중도</td>
        <td bgcolor="#ffdab9">날짜</td>
        <td bgcolor="#ffdab9">날짜</td>
        <td rowspan="4" bgcolor="#e2e2e2"># 플래너 수행도 A/B/C..</td>
    </tr>
    <tr align="center">
        <td rowspan="3" bgcolor="#e2e2e2">5</td>
        <td rowspan="3" bgcolor="#e2e2e2">-</td>
    </tr>
</table>

<table border="1" frame="void" bordercolor="white" width="1800" height="400" align="center">
    <!-- 여섯 번째 행 (과제) -->
    <tr align="center">
        <td rowspan="4"
            bgcolor="#FFFFCC">출석
        </td>
        <td bgcolor="#FFFFCC">날짜</td>
        <td bgcolor="#FFFFCC">출석시간</td>

        <td rowspan="4" bgcolor="#e2e2e2"></td>

    </tr>

</table>
<table border="1" frame="void" bordercolor="white" width="1800" height="400" align="center">
    <!-- 일곱 번째 행 (TEST) -->
    <tr align="center">
        <td rowspan="4"
            bgcolor="#FFFFCC">출석
        </td>
        <td bgcolor="#FFFFCC">날짜</td>
        <td bgcolor="#FFFFCC">출석시간</td>
        <td rowspan="4" bgcolor="#e2e2e2"></td>
    </tr>

</table>
</body>
</html>