<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<table align="center" width="1800" height="50">
    <!-- 제목 -->
    <tr bgcolor="white" align="center">
        <p>
        <td><### 학생 #월 월간 관리표></td>
        </p>
    </tr>
</table>
<table border="1" frame="void" bordercolor="white" width="1800" height="400" align="center">
    <!-- 첫 번째 행 (출석, TEST, 플래너 수행도, 수업 집중도, 과제 수행도) -->
    <tr align="center">
        <td rowspan="11"
            bgcolor="#FFFFCC">출석
        </td>
        <td bgcolor="#FFFFCC">날짜</td>
        <td bgcolor="#FFFFCC">출석시간</td>

        <td rowspan="11" bgcolor="#e2e2e2">무단 결석..</td>

        <td rowspan="11"
            bgcolor="#CCCCFF">TEST
        </td>
        <td bgcolor="#CCCCFF">날짜</td>
        <td bgcolor="#CCCCFF">TEST 결과</td>
        <td bgcolor="#CCCCFF">반평균</td>

        <td rowspan="11"
            bgcolor="#FFCCCC">플래너<br>수행도
        </td>
        <td bgcolor="#FFCCCC">날짜</td>
        <td bgcolor="#FFCCCC">수행도</td>

        <td rowspan="11"
            bgcolor="#CCE5FF">수업<br>집중도
        </td>
        <td bgcolor="#CCE5FF">날짜</td>
        <td bgcolor="#CCE5FF">집중도</td>

        <td rowspan="11"
            bgcolor="#CCFFE5">과제<br>수행도
        </td>
        <td bgcolor="#CCFFE5">날짜</td>
        <td bgcolor="#CCFFE5">수행도</td>
    </tr>

    <tr align="center">
        <td bgcolor="#FFFFCC">2022.01.04</td> <!--출석 날짜-->
        <td bgcolor="#e2e2e2">오후 1:45</td> <!--출석 시간-->

        <td bgcolor="#CCCCFF">2022.01.04</td> <!--TEST 날짜-->
        <td bgcolor="#e2e2e2">80/100</td> <!--TEST 결과-->
        <td bgcolor="#e2e2e2">83</td> <!--TEST 반평균-->

        <td bgcolor="#FFCCCC">2022.01.04</td> <!--플래너 수행도 날짜-->
        <td bgcolor="#e2e2e2">A</td> <!--플래너 수행도-->

        <td bgcolor="#CCE5FF">2022.01.04</td> <!--수업 집중도 날짜-->
        <td bgcolor="#e2e2e2">5</td> <!--수업 집중도-->

        <td bgcolor="#CCFFE5">2022.01.04</td> <!--과제 수행도 날짜-->
        <td bgcolor="#e2e2e2">3</td> <!--과제 수행도-->
    </tr>

    <tr align="center">
        <td bgcolor="#FFFFCC">2022.01.04</td> <!--출석 날짜-->
        <td bgcolor="#e2e2e2">오후 1:45</td> <!--출석 시간-->

        <td bgcolor="#CCCCFF">2022.01.04</td> <!--TEST 날짜-->
        <td bgcolor="#e2e2e2">80/100</td> <!--TEST 결과-->
        <td bgcolor="#e2e2e2">83</td> <!--TEST 반평균-->

        <td bgcolor="#FFCCCC">2022.01.04</td> <!--플래너 수행도 날짜-->
        <td bgcolor="#e2e2e2">A</td> <!--플래너 수행도-->

        <td bgcolor="#CCE5FF">2022.01.04</td> <!--수업 집중도 날짜-->
        <td bgcolor="#e2e2e2">5</td> <!--수업 집중도-->

        <td bgcolor="#CCFFE5">2022.01.04</td> <!--과제 수행도 날짜-->
        <td bgcolor="#e2e2e2">3</td> <!--과제 수행도-->
    </tr>
    <tr align="center">
        <td bgcolor="#FFFFCC">2022.01.04</td> <!--출석 날짜-->
        <td bgcolor="#e2e2e2">오후 1:45</td> <!--출석 시간-->

        <td bgcolor="#CCCCFF">2022.01.04</td> <!--TEST 날짜-->
        <td bgcolor="#e2e2e2">80/100</td> <!--TEST 결과-->
        <td bgcolor="#e2e2e2">83</td> <!--TEST 반평균-->

        <td bgcolor="#FFCCCC">2022.01.04</td> <!--플래너 수행도 날짜-->
        <td bgcolor="#e2e2e2">A</td> <!--플래너 수행도-->

        <td bgcolor="#CCE5FF">2022.01.04</td> <!--수업 집중도 날짜-->
        <td bgcolor="#e2e2e2">5</td> <!--수업 집중도-->

        <td bgcolor="#CCFFE5">2022.01.04</td> <!--과제 수행도 날짜-->
        <td bgcolor="#e2e2e2">3</td> <!--과제 수행도-->
    </tr>
    <tr align="center">
        <td bgcolor="#FFFFCC">2022.01.04</td> <!--출석 날짜-->
        <td bgcolor="#e2e2e2">오후 1:45</td> <!--출석 시간-->

        <td bgcolor="#CCCCFF">2022.01.04</td> <!--TEST 날짜-->
        <td bgcolor="#e2e2e2">80/100</td> <!--TEST 결과-->
        <td bgcolor="#e2e2e2">83</td> <!--TEST 반평균-->

        <td bgcolor="#FFCCCC">2022.01.04</td> <!--플래너 수행도 날짜-->
        <td bgcolor="#e2e2e2">A</td> <!--플래너 수행도-->

        <td bgcolor="#CCE5FF">2022.01.04</td> <!--수업 집중도 날짜-->
        <td bgcolor="#e2e2e2">5</td> <!--수업 집중도-->

        <td bgcolor="#CCFFE5">2022.01.04</td> <!--과제 수행도 날짜-->
        <td bgcolor="#e2e2e2">3</td> <!--과제 수행도-->
    </tr>
    <tr align="center">
        <td bgcolor="#FFFFCC">2022.01.04</td> <!--출석 날짜-->
        <td bgcolor="#e2e2e2">오후 1:45</td> <!--출석 시간-->

        <td bgcolor="#CCCCFF">2022.01.04</td> <!--TEST 날짜-->
        <td bgcolor="#e2e2e2">80/100</td> <!--TEST 결과-->
        <td bgcolor="#e2e2e2">83</td> <!--TEST 반평균-->

        <td bgcolor="#FFCCCC">2022.01.04</td> <!--플래너 수행도 날짜-->
        <td bgcolor="#e2e2e2">A</td> <!--플래너 수행도-->

        <td bgcolor="#CCE5FF">2022.01.04</td> <!--수업 집중도 날짜-->
        <td bgcolor="#e2e2e2">5</td> <!--수업 집중도-->

        <td bgcolor="#CCFFE5">2022.01.04</td> <!--과제 수행도 날짜-->
        <td bgcolor="#e2e2e2">3</td> <!--과제 수행도-->
    </tr>
    <tr align="center">
        <td bgcolor="#FFFFCC">2022.01.04</td> <!--출석 날짜-->
        <td bgcolor="#e2e2e2">오후 1:45</td> <!--출석 시간-->

        <td bgcolor="#CCCCFF">2022.01.04</td> <!--TEST 날짜-->
        <td bgcolor="#e2e2e2">80/100</td> <!--TEST 결과-->
        <td bgcolor="#e2e2e2">83</td> <!--TEST 반평균-->

        <td bgcolor="#FFCCCC">2022.01.04</td> <!--플래너 수행도 날짜-->
        <td bgcolor="#e2e2e2">A</td> <!--플래너 수행도-->

        <td bgcolor="#CCE5FF">2022.01.04</td> <!--수업 집중도 날짜-->
        <td bgcolor="#e2e2e2">5</td> <!--수업 집중도-->

        <td bgcolor="#CCFFE5">2022.01.04</td> <!--과제 수행도 날짜-->
        <td bgcolor="#e2e2e2">3</td> <!--과제 수행도-->
    </tr>
    <tr align="center">
        <td bgcolor="#FFFFCC">2022.01.04</td> <!--출석 날짜-->
        <td bgcolor="#e2e2e2">오후 1:45</td> <!--출석 시간-->

        <td bgcolor="#CCCCFF">2022.01.04</td> <!--TEST 날짜-->
        <td bgcolor="#e2e2e2">80/100</td> <!--TEST 결과-->
        <td bgcolor="#e2e2e2">83</td> <!--TEST 반평균-->

        <td bgcolor="#FFCCCC">2022.01.04</td> <!--플래너 수행도 날짜-->
        <td bgcolor="#e2e2e2">A</td> <!--플래너 수행도-->

        <td bgcolor="#CCE5FF">2022.01.04</td> <!--수업 집중도 날짜-->
        <td bgcolor="#e2e2e2">5</td> <!--수업 집중도-->

        <td bgcolor="#CCFFE5">2022.01.04</td> <!--과제 수행도 날짜-->
        <td bgcolor="#e2e2e2">3</td> <!--과제 수행도-->
    </tr>
    <tr align="center">
        <td bgcolor="#FFFFCC">2022.01.04</td> <!--출석 날짜-->
        <td bgcolor="#e2e2e2">오후 1:45</td> <!--출석 시간-->

        <td bgcolor="#CCCCFF">2022.01.04</td> <!--TEST 날짜-->
        <td bgcolor="#e2e2e2">80/100</td> <!--TEST 결과-->
        <td bgcolor="#e2e2e2">83</td> <!--TEST 반평균-->

        <td bgcolor="#FFCCCC">2022.01.04</td> <!--플래너 수행도 날짜-->
        <td bgcolor="#e2e2e2">A</td> <!--플래너 수행도-->

        <td bgcolor="#CCE5FF">2022.01.04</td> <!--수업 집중도 날짜-->
        <td bgcolor="#e2e2e2">5</td> <!--수업 집중도-->

        <td bgcolor="#CCFFE5">2022.01.04</td> <!--과제 수행도 날짜-->
        <td bgcolor="#e2e2e2">3</td> <!--과제 수행도-->
    </tr>
    <tr align="center">
        <td bgcolor="#FFFFCC">2022.01.04</td> <!--출석 날짜-->
        <td bgcolor="#e2e2e2">오후 1:45</td> <!--출석 시간-->

        <td bgcolor="#CCCCFF">2022.01.04</td> <!--TEST 날짜-->
        <td bgcolor="#e2e2e2">80/100</td> <!--TEST 결과-->
        <td bgcolor="#e2e2e2">83</td> <!--TEST 반평균-->

        <td bgcolor="#FFCCCC">2022.01.04</td> <!--플래너 수행도 날짜-->
        <td bgcolor="#e2e2e2">A</td> <!--플래너 수행도-->

        <td bgcolor="#CCE5FF">2022.01.04</td> <!--수업 집중도 날짜-->
        <td bgcolor="#e2e2e2">5</td> <!--수업 집중도-->

        <td bgcolor="#CCFFE5">2022.01.04</td> <!--과제 수행도 날짜-->
        <td bgcolor="#e2e2e2">3</td> <!--과제 수행도-->
    </tr>
    <tr align="center">
        <td bgcolor="#FFFFCC">2022.01.04</td> <!--출석 날짜-->
        <td bgcolor="#e2e2e2">오후 1:45</td> <!--출석 시간-->

        <td bgcolor="#CCCCFF">2022.01.04</td> <!--TEST 날짜-->
        <td bgcolor="#e2e2e2">80/100</td> <!--TEST 결과-->
        <td bgcolor="#e2e2e2">83</td> <!--TEST 반평균-->

        <td bgcolor="#FFCCCC">2022.01.04</td> <!--플래너 수행도 날짜-->
        <td bgcolor="#e2e2e2">A</td> <!--플래너 수행도-->

        <td bgcolor="#CCE5FF">2022.01.04</td> <!--수업 집중도 날짜-->
        <td bgcolor="#e2e2e2">5</td> <!--수업 집중도-->

        <td bgcolor="#CCFFE5">2022.01.04</td> <!--과제 수행도 날짜-->
        <td bgcolor="#e2e2e2">3</td> <!--과제 수행도-->
    </tr>
</table>

<!-- 두 번째 행(진도, 과제) -->
<table border="1" frame="void" bordercolor="white" width="1800" height="400" align="center">
    <tr align="center">
        <td rowspan="11" bgcolor="#CCE5FF">진도</td>
        <td bgcolor="#CCE5FF">날짜</td>
        <td bgcolor="#CCE5FF">교재</td>
        <td bgcolor="#CCE5FF">내용</td>

        <td rowspan="11" bgcolor="#FFFFCC">과제</td>
        <td bgcolor="#FFFFCC">날짜</td>
        <td bgcolor="#FFFFCC">과제</td>
    </tr>

    <tr align="center">
        <td bgcolor="#CCE5FF">2022.01.18</td>
        <td bgcolor="#e2e2e2">수학의 정석</td>
        <td bgcolor="#e2e2e2">- 집합의 뜻과 표현 개념설명 및 문항풀이</td>

        <td bgcolor="#FFFFCC">2022.01.18</td>
        <td bgcolor="#e2e2e2">- 배운내용 복습 철저히 해오기<br>- 오답 유사 안되어있는 부분 마무리</td>
    </tr>


    <tr align="center">
        <td bgcolor="#CCE5FF">2022.01.18</td>
        <td bgcolor="#e2e2e2">수학의 정석</td>
        <td bgcolor="#e2e2e2">- 집합의 뜻과 표현 개념설명 및 문항풀이</td>

        <td bgcolor="#FFFFCC">2022.01.18</td>
        <td bgcolor="#e2e2e2">- 배운내용 복습 철저히 해오기<br>- 오답 유사 안되어있는 부분 마무리</td>
    </tr>

    <tr align="center">
        <td bgcolor="#CCE5FF">2022.01.18</td>
        <td bgcolor="#e2e2e2">수학의 정석</td>
        <td bgcolor="#e2e2e2">- 집합의 뜻과 표현 개념설명 및 문항풀이</td>

        <td bgcolor="#FFFFCC">2022.01.18</td>
        <td bgcolor="#e2e2e2">- 배운내용 복습 철저히 해오기<br>- 오답 유사 안되어있는 부분 마무리</td>
    </tr>

    <tr align="center">
        <td bgcolor="#CCE5FF">2022.01.18</td>
        <td bgcolor="#e2e2e2">수학의 정석</td>
        <td bgcolor="#e2e2e2">- 집합의 뜻과 표현 개념설명 및 문항풀이</td>

        <td bgcolor="#FFFFCC">2022.01.18</td>
        <td bgcolor="#e2e2e2">- 배운내용 복습 철저히 해오기<br>- 오답 유사 안되어있는 부분 마무리</td>
    </tr>

    <tr align="center">
        <td bgcolor="#CCE5FF">2022.01.18</td>
        <td bgcolor="#e2e2e2">수학의 정석</td>
        <td bgcolor="#e2e2e2">- 집합의 뜻과 표현 개념설명 및 문항풀이</td>

        <td bgcolor="#FFFFCC">2022.01.18</td>
        <td bgcolor="#e2e2e2">- 배운내용 복습 철저히 해오기<br>- 오답 유사 안되어있는 부분 마무리</td>
    </tr>

    <tr align="center">
        <td bgcolor="#CCE5FF">2022.01.18</td>
        <td bgcolor="#e2e2e2">수학의 정석</td>
        <td bgcolor="#e2e2e2">- 집합의 뜻과 표현 개념설명 및 문항풀이</td>

        <td bgcolor="#FFFFCC">2022.01.18</td>
        <td bgcolor="#e2e2e2">- 배운내용 복습 철저히 해오기<br>- 오답 유사 안되어있는 부분 마무리</td>
    </tr>

    <tr align="center">
        <td bgcolor="#CCE5FF">2022.01.18</td>
        <td bgcolor="#e2e2e2">수학의 정석</td>
        <td bgcolor="#e2e2e2">- 집합의 뜻과 표현 개념설명 및 문항풀이</td>

        <td bgcolor="#FFFFCC">2022.01.18</td>
        <td bgcolor="#e2e2e2">- 배운내용 복습 철저히 해오기<br>- 오답 유사 안되어있는 부분 마무리</td>
    </tr>

    <tr align="center">
        <td bgcolor="#CCE5FF">2022.01.18</td>
        <td bgcolor="#e2e2e2">수학의 정석</td>
        <td bgcolor="#e2e2e2">- 집합의 뜻과 표현 개념설명 및 문항풀이</td>

        <td bgcolor="#FFFFCC">2022.01.18</td>
        <td bgcolor="#e2e2e2">- 배운내용 복습 철저히 해오기<br>- 오답 유사 안되어있는 부분 마무리</td>
    </tr>

    <tr align="center">
        <td bgcolor="#CCE5FF">2022.01.18</td>
        <td bgcolor="#e2e2e2">수학의 정석</td>
        <td bgcolor="#e2e2e2">- 집합의 뜻과 표현 개념설명 및 문항풀이</td>

        <td bgcolor="#FFFFCC">2022.01.18</td>
        <td bgcolor="#e2e2e2">- 배운내용 복습 철저히 해오기<br>- 오답 유사 안되어있는 부분 마무리</td>
    </tr>

    <tr align="center">
        <td bgcolor="#CCE5FF">2022.01.18</td>
        <td bgcolor="#e2e2e2">수학의 정석</td>
        <td bgcolor="#e2e2e2">- 집합의 뜻과 표현 개념설명 및 문항풀이</td>

        <td bgcolor="#FFFFCC">2022.01.18</td>
        <td bgcolor="#e2e2e2">- 배운내용 복습 철저히 해오기<br>- 오답 유사 안되어있는 부분 마무리<br>- 배운내용 복습 철저히 해오기<br>- 배운내용 복습 철저히 해오기<br>-
            배운내용 복습 철저히 해오기
        </td>
    </tr>
</table>


<!-- 세 번째 행(클리닉) -->
<table border="1" frame="void" bordercolor="white" width="1800" height="400" align="center">
    <tr align="center">
        <td rowspan="11" bgcolor="#ffdab9">클리닉<br>보고서</td>
        <td bgcolor="#ffdab9">날짜</td>
        <td bgcolor="#ffdab9">단원명</td>
        <td bgcolor="#ffdab9">성취단계</td>
        <td bgcolor="#ffdab9">취약유형</td>
        <td bgcolor="#ffdab9">특이사항</td>
    </tr>

    <tr align="center">
        <td bgcolor="#ffdab9">2022.01.18</td>
        <td bgcolor="#e2e2e2">명제</td>
        <td bgcolor="#e2e2e2">3</td>
        <td bgcolor="#e2e2e2">일대일대응이 되기 위한 조건</td>
        <td bgcolor="#e2e2e2">3단계까지 완료</td>
    </tr>

    <tr align="center">
        <td bgcolor="#ffdab9">2022.01.18</td>
        <td bgcolor="#e2e2e2">명제</td>
        <td bgcolor="#e2e2e2">3</td>
        <td bgcolor="#e2e2e2">일대일대응이 되기 위한 조건</td>
        <td bgcolor="#e2e2e2">3단계까지 완료</td>
    </tr>

    <tr align="center">
        <td bgcolor="#ffdab9">2022.01.18</td>
        <td bgcolor="#e2e2e2">명제</td>
        <td bgcolor="#e2e2e2">3</td>
        <td bgcolor="#e2e2e2">일대일대응이 되기 위한 조건</td>
        <td bgcolor="#e2e2e2">3단계까지 완료</td>
    </tr>

    <tr align="center">
        <td bgcolor="#ffdab9">2022.01.18</td>
        <td bgcolor="#e2e2e2">명제</td>
        <td bgcolor="#e2e2e2">3</td>
        <td bgcolor="#e2e2e2">일대일대응이 되기 위한 조건</td>
        <td bgcolor="#e2e2e2">3단계까지 완료</td>
    </tr>

    <tr align="center">
        <td bgcolor="#ffdab9">2022.01.18</td>
        <td bgcolor="#e2e2e2">명제</td>
        <td bgcolor="#e2e2e2">3</td>
        <td bgcolor="#e2e2e2">일대일대응이 되기 위한 조건</td>
        <td bgcolor="#e2e2e2">3단계까지 완료</td>
    </tr>

    <tr align="center">
        <td bgcolor="#ffdab9">2022.01.18</td>
        <td bgcolor="#e2e2e2">명제</td>
        <td bgcolor="#e2e2e2">3</td>
        <td bgcolor="#e2e2e2">일대일대응이 되기 위한 조건</td>
        <td bgcolor="#e2e2e2">3단계까지 완료</td>
    </tr>

    <tr align="center">
        <td bgcolor="#ffdab9">2022.01.18</td>
        <td bgcolor="#e2e2e2">명제</td>
        <td bgcolor="#e2e2e2">3</td>
        <td bgcolor="#e2e2e2">일대일대응이 되기 위한 조건</td>
        <td bgcolor="#e2e2e2">3단계까지 완료</td>
    </tr>

    <tr align="center">
        <td bgcolor="#ffdab9">2022.01.18</td>
        <td bgcolor="#e2e2e2">명제</td>
        <td bgcolor="#e2e2e2">3</td>
        <td bgcolor="#e2e2e2">일대일대응이 되기 위한 조건</td>
        <td bgcolor="#e2e2e2">3단계까지 완료</td>
    </tr>

    <tr align="center">
        <td bgcolor="#ffdab9">2022.01.18</td>
        <td bgcolor="#e2e2e2">명제</td>
        <td bgcolor="#e2e2e2">3</td>
        <td bgcolor="#e2e2e2">일대일대응이 되기 위한 조건</td>
        <td bgcolor="#e2e2e2">3단계까지 완료</td>
    </tr>

    <tr align="center">
        <td bgcolor="#ffdab9">2022.01.18</td>
        <td bgcolor="#e2e2e2">명제</td>
        <td bgcolor="#e2e2e2">3</td>
        <td bgcolor="#e2e2e2">일대일대응이 되기 위한 조건</td>
        <td bgcolor="#e2e2e2">3단계까지 완료</td>
    </tr>
</table>
<table width="1800" height="200" align="center">
    <tr align="center">
        <td bgcolor="#4169e1" style="color:white">이번 달 학생에 대한 선생님의 소견</td>
    </tr>

    <tr align="left">
        <td bgcolor="#e2e2e2" style="padding: 50px">안녕하세요. 고1A 이정연 학생에 대한 월간소견 및 학습상황과 학습계획 말씀드리겠습니다.
            1월에는 집중반을 진행하면서 고1A반은 수(상)과 수(하)를 나갔습니다. 수(상)은 일품으로 진행하였고 수(하)는 기본정석으로 무리함수 단원까지 진도를 나갔습니다. 진도가 빠르고 버거운 감이 있었지만 학생들이 정말 열심히 해준 덕분에 진도를 잘 나갈 수 있었습니다. 2월 14일 수업부터는 수1에 대한 진도를 전부 나갈 예정이고, 1월과 똑같은 시스템으로 진행할 예정입니다.<br>
            그리고 교재에 빈 곳이 없도록 꼼꼼하게 검사하고 클리닉을 진행하였지만 만약을 위해 2월 수업 시작 후 다시한번 검사하도록 하겠습니다.<br>
            이정연 학생의 가장 걱정되는 부분은 '복습' 입니다. 학원에서 있는 시간을 제외하고 가정에서 평일은 물론, 주말시간을 잘 활용하여 복습을 해야합니다.<br>
            이런습관들이 고쳐지지 않는다면 당연히 학습성취는 이루어지지 않을 것입니다. 앞으로는 정연이가 좀 더 학업성취를 이룰 수 있도록 주말에도 학원에 불러서 지도하도록 하겠습니다.
            그리고 2월에 나가는 수1은 처음배우는 내용이 많아 특히나 날마다 복습을 해야합니다. 2월에는 학원이 끝난 뒤에도 반드시 가정에서 복습이 이루어지도록 지도 부탁드리겠습니다. 상담하실 부분있으시면 언제든 연락 바랍니다. 감사합니다.  </td>
    </tr>
</table>
</body>
</html>